.color1 {color: #b74768;}
.color2 {color: #9c675a;}
.color3 {color: #d2bba0;}
.color4 {color: #f1f3e5;}
.color5 {color: #ffffff;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
main{
    min-height: 100px;
}
.contenedor1{
    background-color: #9c675a;
    width: 100%;
    height: 370px;

}
.contenedor2 {
    width: 100%;
    height: 70%;
    background-color: #d2bba0;
    position: absolute;

}
.wave{
    position: absolute;
    width: 100%;
    height: 80%;
    top: -100px;
    background-image: url(./images/wave.svg);

}
.img-cv{
    position: relative;
    top: -90px;
    height: 400px;
}